<main>
  <div class="inner">
    <div class="content clearfix">
      <div class="main_content">
        <div class="addBtn">
          やりたいことを追加
        </div>
        <div class="user_info">
          <img src="/app/assets/images/Tsuzuki.jpg" alt="">
          <p class="user_info__name"><%= @user.name %></p>
        </div>
          <ul class="thingsList">
            <li class="thingsList__li metoo_5">
              <h3 class="thingsList__title">礼儀作法の勉強を<br>したい</h3>
              <h4 class="thingsList__subText">明日</h4>
            </li>
            <li class="thingsList__li metoo_4">
              <h3 class="thingsList__title">プログラミングを<br>やりたい</h3>
              <h4 class="thingsList__subText">明日</h4>
            </li>
            <li class="thingsList__li metoo_3">
              <h3 class="thingsList__title">礼儀作法の勉強を<br>したい</h3>
              <h4 class="thingsList__subText">明日</h4>
            </li>
            <li class="thingsList__li metoo_2">
              <h3 class="thingsList__title">礼儀作法の勉強を<br>したい</h3>
              <h4 class="thingsList__subText">明日</h4>
            </li>
            <li class="thingsList__li metoo_1">
              <h3 class="thingsList__title">礼儀作法の勉強を<br>したい</h3>
              <h4 class="thingsList__subText">明日</h4>
            </li>
          </ul>
      </div>
      <sidebar class="sidebar">
        <ul class="sideList">
          <li class="sideList_li">
            <a href="" class="sideList_a active">やりたい度が高い</a>
          </li>
          <li class="sideList_li">
            <a href="" class="sideList_a">時期が近い</a>
          </li>
          <li class="sideList_li">
            <a href="" class="sideList_a">metooが多い</a>
          </li>
        </ul>
      </sidebar>
    </div>



  </div>
</main>
