/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .clearfix:after {
  content: "";
  clear: both;
  display: block;
}
 body {
   background: #f0f8f4;
   font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
   color: #3c3c3c;
 }
 ul {
   list-style-type: none;
 }
 a {
   text-decoration: none;
 }
.inner {
  width: 1220px;
  margin: 0 auto;
  position: relative;
}
#wrapper {
}
.header {
  height: 50px;
  background: #162b3d;
  color: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 10;
}

.headerLeftNav_a {
  line-height: 50px;
  height: 50px;
  display: block;
}
.flex {
  display: flex;
  height: 50px;
}
.align {
  align-items: center;
}

.header .headerNav__a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
}



.headerNavLeft {
  position: absolute;
  left: 0;
}
.headerNavLeft .headerNavLeft_li {
  margin-right: 20px;
}
.headerNavLeft .headerNavLeft_a {
  font-size: 12px;
  line-height: 20px;
}
.headerNavLeft {
  margin-left: 20px;
}
.headerNavLeft_li {
  margin-left: 20px;
}
.headerNavLeft_img {
  vertical-align: middle;
}

.header input[type=text] {
  height: 30px;
  width: 200px;
  border: none;
  padding: 0 15px;
  border-radius: 15px;
}
.header a {
  color: #fff;

}
.headerNavCenter {
  margin: 0 auto;
}
.headerNavCenter_li {
  height: 100%;
}
.headerNavCenter_a {
  display: block;
  height: 100%;
  line-height: 50px;
}
.headerNavCenter_img {
  vertical-align: middle;
}

.headerNavRight {
  display: flex;
  list-style-type: none;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  position: absolute;
  right: 0;
}
.headerNavRight .headerNavRight__li {
  margin-right: 30px;
}
.headerNavRight .headerNavRight__a {
  font-size: 12px;
  line-height: 50px;
}
.headerNavRight__img {
  vertical-align: middle;
}
.headerNavRight__a_span {
  margin-left: 10px;
  padding-right: 12px;
  background: url(/assets/header_arrow_bottom.png) no-repeat right center;
}
