/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
 }
 ul {
   list-style-type: none;
 }
 a {
   text-decoration: none;
 }
.inner {
  width: 1080px;
  margin: 0 auto;
}
#wrapper {
}
.header {
  height: 50px;
  background: #54c6ad;
  color: #fff;
}

.flex {
  display: flex;
  height: 50px;
}
.align {
  align-items: center;
}

.header .headerNav__a {
  color: #fff;
  text-decoration: none;
}

.headerNav {
  display: flex;
  list-style-type: none;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
}
.headerNav .headerNav__li {
  margin-right: 30px;
}
.header input[type=text] {
  height: 30px;
  width: 200px;
}
.header a {
  color: #fff;
  
}
